extends layout
block content
	.row
		.col-md-12
			.card
				form(action="/pessoa/update", method="post", enctype='multipart/form-data')
					.card-header
						.card-title Alteração de Usuário
					.card-body
						.row
							.col-md-6.col-lg-4
								.form-group
									label(for='name') Nome Completo
									input#name.form-control.form-control(name='nome', required='true', type='text', value=pessoa.nome)
								.form-group
									label(for='matricula') Matrícula
									input#matricula.form-control.form-control(name='matricula', required='true', type='number', value=pessoa.matricula)
								.form-group
									label(for='email') Email Address
									input#email.form-control(name='email', required='true', type='email', value=pessoa.email)
									small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
								.form-group
									label(for='password') Password
									input#password.form-control(name='senha', required='true', type='password', value=pessoa.senha)
							.col-md-6.col-lg-4
								.form-group
									label(for='cpf') CPF
									input#name.form-control.form-control(name='cpf', required='true', type='number', value=pessoa.cpf readonly='')
								.form-group
									label(for='cargo') Cargo
									select#cargo.form-control(name='cargo', required='true')
										each val in cargos
											if val.id == pessoa.cargo_id
												option(value=val.id, selected='') #{val.titulo}
											else
												option(value=val.id) #{val.titulo}
								.form-group
									label(for='departamento') Departamento
									select#departamento.form-control(name='departamento', required='true')
										each val in departamentos
											if val.id == pessoa.departamento_id
												option(value=val.id, selected='') #{val.nome}
											else
												option(value=val.id) #{val.nome}
								.form-group
									label(for='profilePic') Foto de Perfil
									input#profilePic.form-control-file(name='foto', type='file', accept='image/*')
									small#profilePic.form-text.text-muted Max. 500x500, 1MB files.
									.avatar-sm 
										img.avatar-img.rounded-circle(src=('data:'+pessoa.foto_type+';base64,'+pessoa.foto))
					.card-action
						button.btn.btn-success(type='submit') Submit