extends layout
block content
	.row
		.col-md-12
			.card
				.card-header
					.card-title Eventos da Reserva (ID: #{rid})
				.card-body
					table.table.table-hover
						thead
							tr
								th(scope='col') ID
								th(scope='col') Nome
								th(scope='col') Disciplina
								th(scope='col') Aprovação
								th(scope='col') Dia
								th(scope='col') Horário
								th(scope='col') Sala
								th(scope='col') Descrição
								
						tbody
							each val in eventos
								tr
									td
										a(href='/reserva/read/'+val.rid) #{val.eid}
									td= val.nome
									td= val.disciplina
									td= val.estado
									td= val.dia
									td= val.inicio
									td= val.sala_numero
									td= val.descricao
				.card-action
					a.btn.btn-lg.btn-primary(href='/reserva/update/'+rid) Update
					a.btn.btn-lg.btn-danger(href='/reserva/remove/'+rid) Remove